@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&family=Readex+Pro&display=swap');

$font-family-headings: 'Prompt', sans-serif;
$font-family-body: 'Readex Pro', sans-serif;

body {
    font-family: $font-family-body;
}